[Unit]
Description=all-in-one-admin-backend
After=network-online.target
[Service]
User=ubuntu
ExecStart=/home/ubuntu/all-in-one-admin-backend/all-in-one-admin-backend
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=all-in-one-admin-backend
Restart=always
RestartSec=3
LimitNOFILE=4096
[Install]
WantedBy=multi-user.target
